Readme.md

link-folders-to-one-drive.sh

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
{{ else }}
.inputrc
.oh-my-zsh
.oh-my-zsh/**
.p10k.zsh
.zprofile
.zshrc
{{ end }}

###### For clear output of `chezmoi unamaged` ######

# Not related directories
Desktop/
Documents/
Downloads/
Library/
LocalDocuments/
Movies/
Music/
OneDrive/
OneDrive - Politechnika Warszawska/
Pictures/
Public/
Obsidian/

# .files without any meaningful configuration
.CFUserTextEncoding
.DS_Store
.Trash
# Adobe cache
.aitk
.cache
.config/chezmoi
.config/iterm2
.zcompdump*
.zsh_history
.zsh_sessions
